.field {
    display: flex;
    flex-direction: column;
}

#topicList {
    display: flex;
    list-style-type: none;
}

.label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 8px 0px;
}

#messageInput {
    width: 640px;
}

.dropDowns {
    width: 200px;
    margin: 8px 0;
}

#oldLetters {
    list-style-type: none;
}

.letterListItem {
    margin-bottom: 10px;
    border: 2px solid gray;
    border-radius: 6px;
    width: 400px;
    padding: 20px;
    box-shadow: 4px 4px 3px gray;
}

.topicSpan {
    border: 1px solid gray;
    border-radius: 4px;
    background-color: lightblue;
    padding: 2px;
    box-shadow: 4px 4px 2px gray;
}

.letterListSignOff {
    margin: 16px 0px;
}

#sendButton {
    margin: 8px 0px;

}

.letterTopicList {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
    margin-top: 12px;
}
